<!--<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>-->

<div id="startContainer" class="container"  >

    {{startLoad()}}
   <div id="secondContainer" class="container-fluid" >
       <div class="container">
           <h1 class="text-center">{{model.message}}</h1>
      </div>
       <!--<div class="container search-bar  align-items-center">
           <form  action="/">
               <div class="row align-items-center rounded-pill" style="background-color: whitesmoke">
               <div class="col-10 d-flex  align-items-center form-group" style="padding-top: 15px" >
               <input type="text" class="form-control w-100 border-0 shadow-0 text-center" placeholder="Search"  ng-model="formm">
               </div>
               <div class="col-2 d-flex align-items-center  form=group">
                   <button type="submit" class="btn btn-success text-center rounded-pill w-100"><i class="fas fa-search" style="position: center;color:navy"></i></button>
                   </div>
               </div>
           </form>
       </div> -->
   </div>
</div>

<!--</body>
</html>-->