.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top:7%;
    left: 0;
    background-color:transparent;
    overflow-x: hidden;
    padding-top:5%;
}

.sidebar p{
    padding: 6px 8px 6px 36px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar p:hover {
    color:gray;
}

form .btn:disabled{
    opacity: 0.5;
    cursor:no-drop;
}

form .ng-invalid.ng-dirty {
    color:red;
    background-color: lightpink;
}

form .ng-valid.ng-dirty {
    background-color: lightgreen;
}



form .ng-invalid-email {
    color: red;
}


@media screen and (max-device-width: 384px) {
    .sidebar {margin-top:20%;
             /* position:relative; */}
    .sidebar a {font-size:7px;}
}

.animate-switch.ng-animate {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
}


